::root {
    --background: gold;
    --text: #3363FF;

}

body {

    font-size: 16px;
    line-height: 1;
    background-color: var(--background);
    
}

h1,
h2, 
h3,
h4,
h5,
h6 {
    margin-bottom: 8;
    font-weight: 800;
    line-height: 1.2;;
}

h1 {
    font-size: 200%;
    color: var(--text);
}

header {
    text-align: center;
    padding: 16px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction:  row;
    margin: 0 32px;
    justify-content: center;
}

card {
    display: flex;
    flex-direction:  column;
    justify-content: flex-start;
    min-width: 400px;
    text-align: center;
    border: 2px solid goldenrod;
}

.card pre:active {
    user-select: all;
}

pre {
    text-align: start;
}

code {
    background-color: linear-gradient(#e66465, )
}