:root {
    --background: rgb(151, 255, 255);
    --text: #001d1c;
    --header-text: #01130e;

}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--text);
    display: flex;
    justify-content: space-around;
}
 
.header div ul {
    display: flex;
    justify-content: space-between;
}
    .header h1, h2
{
    margin-bottom: 8;
    font-weight: 800;
    line-height: 1.2;;
    color: var(--header-text);
    font-size: 200%;
    text-align: center;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(rgba(249, 245, 245, 0.7), rgba(255, 255, 255, 0.7)), url("./../images/IMG_0614.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    line-height: 1; 
    justify-content: center;   
}
.row {
/*     display: block;
    flex-wrap: wrap;
    flex-direction:  row;
    margin: auto; */
    display: flex;
    justify-content: space-between;
}

.card pre:active {
    user-select: all;
}

pre {
    text-align: start;
}

code {
    background-color: linear-gradient(#e66465, )
}