:root {
    --background: rgb(151, 255, 255);
    --text: #001d1c;
    --header-background: #047c6e;
    --header-text: #ffffff;

}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--text);
    justify-content: flex-end;
}

.header div {
    padding-top: 15px;
    justify-content: flex-end;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: var(--header-background);
} /* Borrowed some of this from Challenge 1 with my own adjustments*/

.header div ul {
    list-style-type: none;
    background-color: var(--header-background);
} /* Borrowed from Challenge 1 */

.header div ul li {
    justify-content: space-between;
    background-color: var(--header-background);
}
    .header h1,
h2, 
h3,
h4,
h5,
h6 {
    margin-bottom: 8;
    font-weight: 800;
    line-height: 1.2;;
    background-color: var(--header-background);
    color: var(--header-text);
    font-size: 200%;
    text-align: center;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(rgba(249, 245, 245, 0.7), rgba(255, 255, 255, 0.7)), url("./../images/IMG_0614.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    line-height: 1;    
}
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction:  row;
    margin: 0 32px;
    justify-content: flex-start;
}

card {
    display: flex;
    flex-direction:  column;
    justify-content: flex-end;
    min-width: 400px;
    text-align: center;
    border: 2px solid goldenrod;
}

.card pre:active {
    user-select: all;
}

pre {
    text-align: start;
}

code {
    background-color: linear-gradient(#e66465, )
}